<%= bootstrap_form_with(model: person, local: true) do |form| %>
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.text_field :pronoun, { type: "text", class: "form-control", placeholder: "e.g. She/They/Xe/He/…" } %>
      <small id="pronoun-help" class="form-text text-muted">This information helps us to form balanced groups.</small>
    </div>

    <div class="form-group col-md-8">
      <%= form.text_field :name, { type: "text", class: "form-control" } %>
    </div>
  </div>

  <div class="form-group">
    <%= form.text_field :email, { type: "email", class: "form-control" } %>
    <small id="email-help" class="form-text text-muted">We will send you e-mail. So, this has to be a real address. For real. You know? Real.</small>
  </div>

  <div class="form-group">
    <%= form.text_area :about, { rows: 8, class: "form-control", placeholder: "Something about yourself, why you registered at the chaos mentors and what your interests are." } %>
  </div>

  <div class="form-group">
    <%= form.text_field :tag_list, { placeholder: "e.g.: english, german, coding, antifa, security, freifunk, feminism, …", data: raw(tags) } %>
    <small id="pronoun-help" class="form-text text-muted">Please give yourself a few tags, describing the languages you speak and your interests. This helps us to form fitting groups.</small>
  </div>

  <% if current_person.isGodmother? && @person != current_person  && @person.role > 1 %>
  <div class="form-group">
    <%= form.check_box :is_godmother %>
  </div>
<% end %>

  <% if action_name == 'new' || action_name == 'create' -%>
    <div class="form-group">
      <label>
        Question: <%= @captcha.last %>
      </label><br>
      <label for="address">Answer</label>
      <input class="form-control" type="text" name="address" />
      <small id="pronoun-help" class="form-text text-muted">Sorry, too many spam bots out there.</small>
    </div>
    <input value="<%= @captcha.first %>" type="hidden" name="number" />
  <% end %>

  <%= form.hidden_field :role %>

  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    Send
  <% end %>
<% end %>

<%= javascript_tag do %>
  $.availableTags = <%= raw tags.to_json %>;
<% end %>
<%= javascript_include_tag 'people' %>
