<%= bootstrap_form_with(model: person, local: true) do |form| %>
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= form.text_field :pronoun, { type: "text", class: "form-control", placeholder: "e.g. She/They/Xe/He/…" } %>
      <small id="pronoun-help" class="form-text text-muted">This information helps us to form balanced groups.</small>
    </div>

    <div class="form-group col-md-8">
      <%= form.text_field :name, { type: "text", class: "form-control" } %>
    </div>
  </div>

  <div class="form-group">
    <%= form.text_field :email, { type: "email", class: "form-control" } %>
    <small id="email-help" class="form-text text-muted">We will send you e-mail. So, this have to be a real address. For real. You know? Real.</small>
  </div>

  <div class="form-group">
    <%= form.text_area :about, { rows: 8, class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.text_field :tag_list, { placeholder: "e.g.: english, german, coding, antifa, security, freifunk, feminism, …", data: raw(tags) } %>
    <small id="pronoun-help" class="form-text text-muted">Please give yourself a few tags, describing the languages you speak and your interests. This helps us to form fitting groups.</small>
  </div>

  <%= form.hidden_field :role %>

  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    Send
  <% end %>
<% end %>

<%= javascript_tag do %>
  $.availableTags = <%= raw tags.to_json %>;
<% end %>
<%= javascript_include_tag 'people' %>
