<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Name</th>
      <th>Pronoun</th>
      <th>Email</th>
      <th>About</th>
      <th>Special needs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.link %></td>
        <td><%= person.name %></td>
        <td><%= person.pronoun %></td>
        <td><%= person.email %></td>
        <td><%= person.about %></td>
        <td><%= person.special_needs %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
