<h1>
  <% if params[:r].to_i == 1 %>
    Mentees
  <% elsif params[:r].to_i == 2 %>
    Mentors
  <% else %>
    People
  <% end %>
</h1>

<p>
  <%= link_to 'New Person', new_person_path %>
</p>

<p>
  <% Person::STATES.each do |k, v| %>
    <% if params[:s].to_i == k %>
      <% badge = state_batches[v] %>
    <% else %>
      <% badge = 'secondary' %>
    <% end %>
    <%= link_to v.to_s.humanize, { controller: 'people', action: 'index', r: params[:r], s: k }, class: "badge badge-#{badge}" %>
  <% end %>
  <%= link_to 'X', { controller: 'people', action: 'index', r: params[:r] }, class: "badge badge-secondary" %>
</p>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Random ID</th>
      <th scope="col">Pronoun</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.random_id, person %></td>
        <td><%= person.pronoun %></td>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= person.tag_list %></td>
      </tr>
    <% end %>
  </tbody>
</table>
