<div class="card">
  <div class="card-header">
    <%= @person.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @person.role_name.to_s.humanize %></h5>
    <p>
      <strong>Name:</strong>
      <%= @person.name %>
    </p>

    <p>
      <strong>Pronoun:</strong>
      <%= @person.pronoun %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= link_to @person.email, 'mailto:' + @person.email %>
    </p>

    <p>
      <strong>About:</strong>
      <%= @person.about %>
    </p>
  </div>
</div>
