<div class="card">
  <div class="card-header">
    <%= @person.name %> (<%= @person.role_name.to_s.humanize %>)
    <span class="badge badge-<%= state_batches[@person.state_name] %> float-right"><%= @person.state_name.to_s.humanize %></span>
  </div>
  <div class="card-body">
    <%= link_to 'Edit', edit_person_path(@person), class: 'btn btn-primary active float-right' %>
    <p>
      <strong>Name:</strong>
      <%= @person.name %>
    </p>

    <p>
      <strong>Pronoun:</strong>
      <%= @person.pronoun %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= link_to @person.email, 'mailto:' + @person.email %>
    </p>

    <p>
      <strong>About:</strong><br>
      <%= simple_format(@person.about) %>
    </p>
    <p>
      <strong>Tags:</strong>
      <%= @person.tag_list %>
    </p>
    <% if @person.group %>
    <p>
      <strong>Group:</strong>
      <%= link_to @person.group.mentors.map { |m| m.name }.join(', '), @person.group %>
    </p>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <%= link_to 'Replied and okay', { action: "change_state", random_id: @person, state: 3 }, { class: 'btn btn-primary btn-lg btn-block active' } %>
  </div>
  <div class="col-md-4">
    <%= link_to 'Replied and waiting for answer', { action: "change_state", random_id: @person, state: 4 }, { class: 'btn btn-secondary btn-lg btn-block active' } %>
  </div>
  <div class="col-md-4">
    <%= link_to 'Declined', { action: "change_state", random_id: @person, state: 23 }, { class: 'btn btn-danger btn-lg btn-block active' } %>
  </div>
</div>
