<p id="notice"><%= notice %></p>

<p>
  <strong>Random ID:</strong>
  <%= @person.random_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Pronoun:</strong>
  <%= @person.pronoun %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>About:</strong>
  <%= @person.about %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
