<h1></h1>
<div class="card">
  <div class="card-header">
    Group <small>(<%= @group.mentors.map { |m| m.name }.join(', ') %>)</small>
    <span class="badge badge-<%= state_batches[@group.mentors.first.state_name] %> float-right"><%= @group.mentors.first.state_name.to_s.humanize %></span>
  </div>
  <div class="card-body">
    <%= link_to 'Edit', edit_group_path(@group), class: 'btn btn-primary active float-right' %>

<h2>Mentors</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Random ID</th>
      <th scope="col">Pronoun</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @group.mentors.each do |mentor| %>
      <tr>
        <td><%= link_to mentor.random_id, mentor %></td>
        <td><%= mentor.pronoun %></td>
        <td><%= mentor.name %></td>
        <td><%= mentor.email %></td>
        <td><%= mentor.tag_list %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Mentees</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Random ID</th>
      <th scope="col">Pronoun</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @group.mentees.each do |mentee| %>
      <tr>
        <td><%= link_to mentee.random_id, mentee %></td>
        <td><%= mentee.pronoun %></td>
        <td><%= mentee.name %></td>
        <td><%= mentee.email %></td>
        <td><%= mentee.tag_list %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
</div>
<%= link_to 'Done (send mail to mentor(s)', { action: "done", id: @group}, { class: 'btn btn-primary btn-lg btn-block active' } %>
